
@{
    ViewData["Title"] = "Index";
}


<h1>Welcome to the LogIn Portal!  Please input your Username and Password</h1>

<form asp-controller="LogIn" asp-action="Index">
    <input type="text" name="UserName" value="" />
    <input type="password" name="Password" value="" />
    <input type="submit" value="Submit" />

</form>



