@{
    ViewData["Title"] = "Home Page";
}
<body>
    <form asp-controller="Home" asp-action="Index" method="post">
    </form>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h1 style="color: black;"></h1>
    </div>
    <p>

        Hello!!
        Before Ordering Anything, you need to give us ALL your data.

    </p>
    <form asp-controller="LogIn" asp-action="Index"><button class="btn btn-primary">Please Log-In before continuing.</button></form>
    
</body>

<style>
    body {
        background-image: url("https://cdn2.atlantamagazine.com/wp-content/uploads/sites/4/2017/11/eastpole01_courtesyjonathanwade.jpg");
        background-size:cover;
    }
</style>
